<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="/tweet">Home</a>

    
        <h2><%=tweet.title %></h2>
        <h6><%= tweet.tweet %></h6>
        <h6><%= tweet.created_at%></h6>
    
<a href="/delete-tweet/<%= tweet._id %>">Delete</a>
<a href="/tweet/edit/<%= tweet._id %>">Edit Post</a>

</body>
</html>